<IfModule mod_rewrite.c>
    RewriteEngine On

    AddType text/plain .frag
    AddType text/plain .vert
    AddType text/plain .sgml

    RewriteCond %{HTTP_REFERER} !^http://i2comsapp.org/.*$ [NC]
    RewriteCond %{HTTP_REFERER} !^http://i2comsapp.org$ [NC]
    RewriteCond %{HTTP_REFERER} !^http://www.i2comsapp.org/.*$ [NC]
    RewriteCond %{HTTP_REFERER} !^http://www.i2comsapp.org$ [NC]
    RewriteCond %{HTTP_REFERER} !^https://i2comsapp.org/.*$ [NC]
    RewriteCond %{HTTP_REFERER} !^https://i2comsapp.org$ [NC]
    RewriteCond %{HTTP_REFERER} !^https://www.i2comsapp.org/.*$ [NC]
    RewriteCond %{HTTP_REFERER} !^https://www.i2comsapp.org$ [NC]
    RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>