#wb_Card44
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   text-align: center;
}
#Card44-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card44-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 250px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 250px;
}
#Card44-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #00008B;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#Card44-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#Card44-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card44-card-item4
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 10px 20px 10px 20px;
   border: 1px solid #8A2BE2;
   border-radius: 4px;
   background-color: #8A2BE2;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card44-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card44-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   padding: 10px 15px 10px 15px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card44-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card45
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   text-align: center;
}
#Card45-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card45-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 250px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 250px;
}
#Card45-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #00008B;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
}
#Card45-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#Card45-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card45-card-item4
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 10px 20px 10px 20px;
   border: 1px solid #8A2BE2;
   border-radius: 4px;
   background-color: #8A2BE2;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card45-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card45-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 10px 20px 10px 20px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card45-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Dialog4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#Dialog4 .modal-content
{
   background-color: #FFF8DC;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 0px;
   overflow: visible;
   pointer-events: all;
}
#Dialog4.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#Dialog4 .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#Dialog4 .modal-open
{
   overflow: hidden;
}
#Dialog4 .modal-dialog
{
   position: relative;
   width: 777px;
   margin-left: auto;
   margin-right: auto;
}
#Dialog4 .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#Dialog4 .modal-header
{
   padding: 10px 10px 10px 10px;
   background-color: #FFF8DC;
   border-bottom: 1px solid #DDDDDD;
}
#Dialog4 .modal-footer
{
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #DDDDDD;
}
#Dialog4 .modal-body
{
   position: relative;
   width: 777px;
   height: 247px;
}
#Dialog4 .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FF6347;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   -webkit-transition: opacity .15s linear;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5;
}
.modal-open
{
   overflow: hidden;
}
#Dialog4 .modal-header
{
   cursor: move;
}
#Dialog4 .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#Dialog4 .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#Dialog4 .modal-title
{
   color: #FF6347;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   margin: 0;
}
#wb_Text881 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text881 div
{
   text-align: left;
}
#Dialog5
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#Dialog5 .modal-content
{
   background-color: #FFF8DC;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 0px;
   overflow: visible;
   pointer-events: all;
}
#Dialog5.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#Dialog5 .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#Dialog5 .modal-open
{
   overflow: hidden;
}
#Dialog5 .modal-dialog
{
   position: relative;
   width: 777px;
   margin-left: auto;
   margin-right: auto;
}
#Dialog5 .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#Dialog5 .modal-header
{
   padding: 10px 10px 10px 10px;
   background-color: #FFF8DC;
   border-bottom: 1px solid #DDDDDD;
}
#Dialog5 .modal-footer
{
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #DDDDDD;
}
#Dialog5 .modal-body
{
   position: relative;
   width: 777px;
   height: 315px;
}
#Dialog5 .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FF6347;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   -webkit-transition: opacity .15s linear;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5;
}
.modal-open
{
   overflow: hidden;
}
#Dialog5 .modal-header
{
   cursor: move;
}
#Dialog5 .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#Dialog5 .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#Dialog5 .modal-title
{
   color: #FF6347;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   margin: 0;
}
#wb_Text882 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text882 div
{
   text-align: left;
}
